[Unit]
Description=Simple Containers Manager http server program, runs on 8777 port
After=network.target docker.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/etc/scm/scm.py
KillMode=process
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target