<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<table>-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th>ID</th>-->
        <!--<th>name</th>-->
        <!--<th>type</th>-->
        <!--<th>Network Recieved</th>-->
        <!--<th>Network Transceived</th>-->
        <!--<th>Unit</th>-->
        <!--<th>CPU</th>-->
        <!--<th>RAM</th>-->
        <!--<th>image name</th>-->
        <!--<th>version</th>-->

        <!--<th>stop</th>-->
        <!--<th>start</th>-->
        <!--<th>reload</th>-->
        <!--<th>delete</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--{% for row_index in conatiners %}-->
    <!--<tr>-->
        <!--<td>{{ container['id'] }}</td>-->
        <!--<td>{{ container['name'] }}</td>-->
        <!--<td>{{ container['type'] }}</td>-->
        <!--<td>{{ container['network']['receive'] }}</td>-->
        <!--<td>{{ container['network']['transceive'] }}</td>-->
        <!--<td>{{ container['network']['unit'] }}</td>-->
        <!--<td>{{ container['cpu'] }}%</td>-->
        <!--<td>{{ container['memory'] }}%</td>-->
        <!--<td>{{ container['image']['name'] }}</td>-->
        <!--<td>{{ container['image']['version'] }}</td>-->
        <!--<td>{{ container['status'] }}</td>-->

        <!--<td>stop</td>-->
        <!--<td>start</td>-->
        <!--<td>reload</td>-->
        <!--<td>delete</td>-->
    <!--</tr>-->
    <!--{% endfor %}-->
    <!--</tbody>-->
<!--</table>-->
</body>
</html>