<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/minimalistic-view.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade|Kaushan+Script|Pacifico|Press+Start+2P" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade|Kaushan+Script|Pacifico|Poiret+One|Press+Start+2P|Space+Mono|VT323" rel="stylesheet">
</head>
<body>
{% if type == "user" %}
   {% include "login.html" %}
{% else %}
   {% include "menu.html" %}
{% endif %}
<div class="content">
<span class="svmacm-title">S-C-M</span>
    <!--<hr>-->
</div>
<div class="content">
    <h4>Mark</h4>
    <p>
Program pozwalający na sterowania docker contenerami za pomocą webowego interfejsu, lub zewnętrznymi żądaniami, używając JSON notacje. Program stworzony w ramach pracy inżynierskiej(nie mojej he-he). Celem projektu jest oprogramowania aplikacji z wlasnym wbuduwanym API, dla póżniejszej synchrnonizacji z np android aplikacji.
Aplikacja napisana na flasku i jest implementowana jako linux serwis. Aplikacja dziala na porcie 8777
    </p>
</div>
<footer class="content">
    <hr>
    <div><span class="footer-annotation">made by:</span><br><span class="author-footer">Marcinek</span></div>
    <div><span class="footer-annotation">our Git:</span><br><span class="author-footer">svmac</span></div>
    <div><span class="footer-annotation">license:</span><br><span class="author-footer">GPL3</span></div>
</footer>
</body>
</html>
