<header>
        <div class="login-section">
        <form action="/" method="post">
            <table>
                <tr>
                    <td class="text"><span class="header-annotation">login</span></td>
                    <td><input placeholder="Marcin" type="text" name="login" value="admin"></td>
                    <td class="text"><span class="header-annotation"><span style="color:#ff006f"> | </span></span></td>

                    <td class="text"><span class="header-annotation">password</span></td>
                    <td><input placeholder="********" type="password" name="password"  value="admin"></td>

                <td><input title="Submite" type="submit" value="#!/" ></td></tr>
            </table>

        </form>
        </div>
</header>