<header>
        <div class="login-section">
            <table>
                <tr>
                    <td class="text"><span class="header-annotation"><a href="/">Main()</a> <span style="color: #ff006f"> | </span></span></td>
                    <td class="text"><span class="header-annotation"><a href="/containers">Containers()</a> <span style="color: #ff006f"> | </span></span></td>
                    <td class="text"><span class="header-annotation"><a href="">Images()</a><span style="color: #ff006f"> >>= </span></span></td>
                    <td class="text"><span class="header-annotation"><a href="/logoutHTML"> logout( key: <span style="color: #ff006f">{{ key }}</span> ) </a></span></td>
            </table>
        </div>
</header>