.content {
    margin-top: 30px;
    margin-left: 30px;
    max-width: 900px;
}
.svmacm-title {
    color: #772849;
    /*color: #cc0956;*/
    /*margin-left: 30px;*/
    font-size: 60px;
    font-family: 'Bungee Shade', cursive;
}

body{
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    text-align: left;
    background-color: black;
}

header .login-section a{
    color: #FFF;
    text-decoration: none;
}

header .login-section a:hover{
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

header .login-section{

    background-color: black;
    text-align: right;
}

header .login-section input[type=text]{
    background-color: black;
    color: #ff006f;
    margin-left: 10px;
    margin-right: 0;
    margin-bottom: 0;
    border: none ;
    font-size: 1.1em;
    height: 100%;
    font-family:"Courier New", Courier, monospace;
}

header .login-section input[type=password]{
    background-color: black;
    color: #ff006f;
    margin-left: 10px;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border: none ;
    font-size: 1.1em;
    height: 100%;
    font-family:"Courier New", Courier, monospace;
}

header .login-section input[type=submit]{
    /*padding:5px 15px;*/
    background:#000;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 10px;
    /*width: 100px;*/
    /*height: 100%;*/
    font-family:"Courier New", Courier, monospace;
    color: #ff006f;

}

header .login-section .text{
    text-align: right;
}

header .header-annotation{
    font-family:"Courier New", Courier, monospace;
    /* font for login form */
    margin-left: 10px;
    /*margin-top: 30px;*/
    /*margin-bottom: 30px;*/
    font-size: 15px;
    /*text-shadow: 2px 2px black;*/
    color: #ffffff;
    /*font-family: 'Bungee Inline', cursive;*/
    /*font-family: 'Pacifico', cursive;*/
    /*font-family: 'Press Start 2P', cursive;*/
    /*font-family: 'Kaushan Script', cursive;*/
    /*font-family: 'Bungee Shade', cursive;*/
    /*font-family: 'VT323', monospace;*/
    /*font-family: 'Space Mono', monospace;*/
    /*font-family: 'Poiret One', cursive;*/
}

footer{
    text-align: center;
}
footer hr{
    width: 850px;
    border: none;
    background-image: linear-gradient(to right, white, #a70023, white);
    height: 2px;
}

footer .footer-annotation{
    margin-left: 10px;
    /*margin-top: 30px;*/
    /*margin-bottom: 30px;*/
    font-size: 25px;
    font-family: 'Kaushan Script', cursive;
    /*text-shadow: 2px 2px black;*/
    color: #441829;
    /*font-family: 'Bungee Inline', cursive;*/
    /*font-family: 'Pacifico', cursive;*/
    /*font-family: 'Press Start 2P', cursive;*/
    /*font-family: 'Kaushan Script', cursive;*/
    /*font-family: 'Bungee Shade', cursive;*/
    /*font-family: 'VT323', monospace;*/
    /*font-family: 'Space Mono', monospace;*/
    /*font-family: 'Poiret One', cursive;*/
}

footer .author-footer {
    color: #a70023;
    /*color: #cc0956;*/
    font-size: 40px;
    font-family: 'Bungee Shade', cursive;
}

h4{
    /*margin-left: 30px;*/

    /*margin-top: 30px;*/
    /*margin-bottom: 30px;*/
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
    /*text-shadow: 2px 2px black;*/
    color: #772849;
    /*font-family: 'Bungee Inline', cursive;*/
    /*font-family: 'Pacifico', cursive;*/
    /*font-family: 'Press Start 2P', cursive;*/
    /*font-family: 'Kaushan Script', cursive;*/
    /*font-family: 'Bungee Shade', cursive;*/
    /*font-family: 'VT323', monospace;*/
    /*font-family: 'Space Mono', monospace;*/
    /*font-family: 'Poiret One', cursive;*/
}

p {
    font-family:"Courier New", Courier, monospace;
    text-indent: 50px;
    text-align: justify;
    font-size: 1.1em;
}
table.content-table{
    width: 100%;
    text-align: center;
}

table.content-table thead tr th div.head{

    text-align: center;
    text-decoration: none;

    /*font-size: 16px;*/

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 100%;
    background-color: white;
    color: black;
}

.gray-button {
  background-color: white;
  color: black;
  border: 2px solid #bdbdbd;
}

.gray-button:hover {
  background-color: #bdbdbd;
  color: white;
}


table.content-table thead tr td{
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    min-width: 60px;
    color: #772849;
    white-space: nowrap;
}
table.content-table td:hover{
    background-color: #ff006f;
    color: #ffffff;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

table.content-table tbody tr td input[type=text] {
    background-color: white;
    color: #000000;
    margin: 1px 1px;
    border: none;
    font-family: "Courier New", Courier, monospace;
}

#animate-loading-line {
  width: 0;
  height: 2px;
  background-color: #ff006f;
  opacity:1.0;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  /*padding: 16px 32px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*font-size: 16px;*/
  /*margin: 4px 2px;*/
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
    width: 100%;
}

.magenta-button {
  background-color: white;
  color: black;
  border: 2px solid #ff006f;
}

.magenta-button:hover {
  background-color: #ff006f;
  color: white;
}